<div id="files" style="position: relative; float:left;">
  <table>
    <tr><th>Files</th></tr>
    <tr><td><%= select_tag "filelist", options_for_select(@files, @file), :size => 13, :onclick => "fileOnClickChange()" %></td></tr>
  </table>
  <div id="spinner_files" class="spinner"><%=image_tag('spinner.gif')%>  </div>
  <div id="file_diff" class="diff"><%=image_tag('diff.png')%></div>
 
</div>
