<div id="global" style="float:left;">
  <%=select_tag "global", options_for_select(["global"]), :size => 5, :onChange => "getDomains()" %>
  <%=image_tag('arrow.png', :alt => "List domains", :title => "List domains")%>
</div>

