html, body { height:100%; width: 2000px; margin: 0; padding: 0; }

html>body {
	font-size: 16px; 
	font-size: 68.75%;
} /* Reset Base Font Size */

body {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 68.75%;
	background: #fff;
	color: #333;
}

h1, h2 { font-family: 'trebuchet ms', verdana, arial; padding: 10px; margin: 0 }
h1 { font-size: large }
th {
    border: solid 1px;
    background-color: gainsboro;
}
#banner { padding: 15px; background-color: #06b; color: white; font-size: large; border-bottom: 1px solid #ccc;
    background: url(bg.gif) repeat-x; text-align: center }
#banner a { color: white; }

#main { padding: 1em; }

a img { border: none; }

.flash {
    text-align: center;
    padding:    .3em .4em;
    margin:             0 auto .5em;
    clear:              both;
    max-width:  46.923em; /* 610/13 */
    *max-width: 45.750em; /* 610/13.3333 - for IE */
}

.flash.error {
    border: thin solid #8b0000;
    background: #ffc0cb;
}

.spinner {
    display: none;
    position:absolute;
    top:0;
    right:0;
    opacity:0.5
}
select {
    width: 200px;
    background-color: gainsboro;
}
select#filelist {
    width: auto;
}
div#domains, div#global, div#shares_and_users, div#files {
    display: inline-block;
    white-space: nowrap;
}