html, body {
    height:100%;
    margin: 0;
    padding: 0;
}
html>body {
    font-size: 16px;
    font-size: 68.75%;
} /* Reset Base Font Size */
body {
    font-family: Verdana, helvetica, arial, sans-serif;
    font-size: 68.75%;
    background: #fff;
    color: #333;
}
#footer {
    clear:left;
    margin-top:1em;
    background:#efefef;
    text-align:center;
    padding:10px;
    position: fixed;
    width: 100%;
    bottom:0px;
}
#navigation {
    margin-left:1em;
    margin-top:1em;
}

#nav, #nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#nav a {
    display: block;
    width: 12em;
}

#nav li {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing:0.5px;
    text-align:center;
    float: left;
    width: 12em;
    font-size: 15px;
}
#nav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
}

#big-search-box{
    width:9em;
}

#header {
    width: 100%;
    height: 90px;
    background-color: #4B9037;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 11px;
}
#container {
    width:2000px;
    height: 165px;
}
#list {
    position:relative;
    width:2000px;
    height:350px;
}
#global, #domains, #shares_and_users, #files {
    position:relative;
    float: left;
}
#shares, #users {
    position:relative;
}
h1 {
    font-family: Verdana, Tahoms, sans-serfi;
    color: white;
}
h2 {
    font-family: Verdana, Tahoms, sans-serfi;
    color: black;
}
#version {
    display: inline;
    position:absolute; 
    top:55px;
    left:200px;
    color: white;
}
#bild {
    display: inline;
    position:absolute; 
    top:20px;
    left:20px;
}
#titel {
    display: inline;
    position:absolute; 
    top:15px;
    left:140px;
    color:black;
}
h1, h2 { 
    font-family: 'trebuchet ms', verdana, arial;
    padding: 10px;
    margin: 0;
}
h1 { 
    font-size: large;
}
th {
    border: solid 1px;
    background-color: #DCDCDC;
}
#banner { 
    padding: 15px;
    background-color: #06b;
    color: white;
    font-size: large;
    border-bottom: 1px solid #ccc;
    background: url(bg.gif) repeat-x;
    text-align: center;
}
#banner a { 
    color: white;
}
#main { 
    padding: 1em;
}
a img { 
    border: none;
}
.flash {
    text-align: center;
    padding:    .3em .4em;
    clear:              both;
    max-width:  46.923em; 
}
.flash.error {
    border: thin solid #8b0000;
    background: #ffc0cb;
}
.flash.notice {
    border: thin solid #00008B;
    background: #439539;
}
.spinner {
    display: none;
    position:absolute;
    top:0;
    right:50px;
}
.diff {
    display: none;
    position:absolute;
    top:23px;
    right:52px;
}
#spinner_shares {
    display: none;
    float:right;
}
#spinner_getfiles {
    display: none;
    float:left;
}
#spinner_files {
    display:none;
    position:absolute;
    top:0;
    right:-15px;
}
#spinner_functions {
    bottom:0;
    right:0;
}
.spinner_function {
    display: none;
    position:absolute;
    top: 19px;
    right: 0px;
}
#file_diff {
    position:absolute;
    display:none;
    top:23px;
    right:-15px;
}
.function_help {
    display:none;
    width: 40%; 
    right:0; 
    top:0; 
    position:absolute;
}
#top_help {
    top:0;
}
.function_dialog {
    width:500px;
    height:120px;
    display: none;
    position:absolute;
    top:36px;
}
#dialog {
    border:solid 1px;
    position:absolute;
    bottom:0;
    left:0;
    width:500px;
    height: 180px;
}
#help {
    position:absolute;
    width:500px;
    height: 120px;
    text-align:center;
    top:80px;
}
#throughput {
    top:28px;
}
#top {
    display: none;
    position:absolute;
    top:4px;
}
select {
    width: 200px;
    background-color: #DCDCDC;
}
select.modelist, select.objectlist, select.sortlist {
    width:auto;
}
select#filelist {
    width: auto;
}
input.number {
    width:50px;
}
.close_function {
    position:absolute;
    right:0;
    opacity: 0.5;
    filter:alpha(opacity=50);
}
.refresh_function {
    position:absolute;
    right:17px;
    opacity: 0.5;
    filter:alpha(opacity=50);
}
.printview_function {
    position:absolute;
    right:40px;
    opacity: 0.5;
    filter:alpha(apacity=50);
}
.save_function {
    display:none;
    position:absolute;
    right:40px;
    opacity: 0.5;
    filter:alpha(apacity=50);
}
select.file_format {
    position:absolute;
    right:55px;
    width:auto;
}
.defined_function {
    position:relative;
    float:left;
    width:40%;
    min-height: 20px;
    max-height:500px;
    overflow:auto;
    border: solid 1px;
    margin-top:5px;
    margin-bottom: 5px;
    margin-right: 5px;
}